<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>
        <input id="spuIdForSku" name="spuId" type="hidden"/>

        <input id="skuId" name="id" type="hidden"/>

        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>

        <input id="skuInfo" name="skuInfo" type="hidden"/>

        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" ></div>

        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>



        <!----------------商品图片列表 ----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>

        <br/><br/>
    </form>
</div>
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>

<script language="JavaScript">

    function saveSku() {

        var sku = {};
        //被选中的哪个radio
        var skuDefaultImage = $("input[name='isDefault']:checked").val();

        var imgRows = $("#skuImgDg").datagrid("getChecked");

        $(imgRows).each(function (i,imgRow) {
            if(!skuDefaultImage && i==0) {
                skuDefaultImage = imgRow.imgUrl;
            }
            sku["skuImageList["+i+"].imgName"] = imgRow.imgName;
            sku["skuImageList["+i+"].imgUrl"] = imgRow.imgUrl;
            if(skuDefaultImage==imgRow.imgUrl){
                sku["skuImageList["+i+"].isDefault"] = "1";
            }else{
                sku["skuImageList["+i+"].isDefault"] = "0";
            }
            sku["skuImageList["+i+"].spuImgId"] = imgRow.id;
        });
        $.get("saveSku",sku,function (data) {
            alert(data);
        });
    }

    function initSkuInfoDlg(spuId) {
        var catalog3Id = $("#ctg3ForSpuList").combobox("getValue");
        if(!catalog3Id) {
            catalog3Id = "61";
        }
        //图片列表
        initSkuImgListDatagrid(spuId);
        // 平台属性
//        initAttrInfoGroup(catalog3Id);
        // 销售属性
//        initSpuSaleAttrGroup(spuId);

    }
    function initSkuImgListDatagrid(spuId) {
        $("#skuImgDg").datagrid({
           url:'spuImageList?spuId='+spuId,
           columns:[[
               {field:'id',title:'被选择图片',width:100,checkbox:true},
               {field:'imgName',title:'图片名称',width:100},
               {field:'imgShow',title:'图片缩略图',width:100,
                    formatter:function (value,row,index) {
                        return "<img src='"+row.imgUrl+"' width='100px' height='100px'/>";
                    }
               },
               {field:'imgUrl',title:'图片url',width:300},
               {field:'isDefault',title:'默认图片',width:100,
                    formatter:function (value,row,index) {
                        return "<input type='radio' value='"+row.imgUrl+"' name = 'isDefault'/>";
                    }
               }
           ]]
        });
    }
</script>

</body>
</html>